$light  : $white-ter;
$dark   : $grey-darker;

$primary-scheme: $primary;
$secondary-scheme: $secondary;
$info-scheme: $info;
$success-scheme: $success;
$warning-scheme: $warning;
$danger-scheme: $danger;
$light-scheme: $light;

$primary-light-scheme: findLightColor($primary);
$secondary-light-scheme: findLightColor($secondary);
$info-light-scheme: findLightColor($info);
$success-light-scheme: findLightColor($success);
$warning-light-scheme: findLightColor($warning);
$danger-light-scheme: findLightColor($danger);
$cancelled-scheme: $danger-light-scheme;

$link: $primary;

$text: $grey-darker;
$text-strong: $black-ter;
$text-light: $grey-darker;

$custom-colors: ("secondary": $secondary, "primary-scheme": $primary-scheme, "secondary-scheme": $secondary-scheme,
        "info-scheme": $info-scheme, "success-scheme": $success-scheme, "warning-scheme": $warning-scheme,
        "danger-scheme": $danger-scheme, "light-scheme": $light, "primary-light-scheme": $primary-light-scheme,
        "secondary-light-scheme": $secondary-light-scheme, "info-light-scheme": $info-light-scheme, "success-light-scheme": $success-light-scheme,
        "warning-light-scheme": $warning-light-scheme, "danger-light-scheme": $danger-light-scheme, "cancelled-scheme": $cancelled-scheme,
        "warwick-aubergine": $warwick-aubergine, "warwick-aubergine-secondary": $warwick-aubergine-secondary);