$gray-base: #2c3134;
$alt-grey-base: #2d3338;

$black: darken($gray-base, 20%);
$black-bis: darken($gray-base, 15%);
$black-ter: darken($gray-base, 10%);;
$grey-darker: $alt-grey-base;
$grey-dark: desaturate(lighten($gray-base, 10%),2%);
$grey: desaturate(lighten($gray-base, 20%),3%);
$grey-light: desaturate(lighten($gray-base, 40%),5%);
$grey-test-light: hsl(0%, 0%, 60%);
$grey-lighter: hsl(0, 0%, 86%);
$grey-lightest: hsl(0, 0%, 93%);
$white-ter: hsl(0, 0%, 96%);
$white-bis: hsl(0, 0%, 98%);
$white: hsl(0, 0%, 100%);
$orange: hsl(14, 100%, 53%);
$yellow: hsl(48, 100%, 67%);
$green: hsl(141, 53%, 53%);
$turquoise: hsl(171, 100%, 41%);
$cyan: hsl(204, 71%, 53%);
$blue: hsl(217, 71%, 53%);
$purple: hsl(271, 100%, 71%);
$red: hsl(348, 86%, 61%);

$container-offset: 128px;
$footer-background-color: #2C3134;
$footer-color: hsl(0, 0, 100%);

$primary: #3A69FF;  // Actual primary is #3A7DFF, changed for web contrast
$primary-dark: desaturate(lighten($primary, 15%), 5%);
$secondary: #FFC700;
$secondary-dark: lighten($secondary, 15%);
$info: $primary;
$success: #48C774;
$warning: #FFD600;
$danger: #F14668;

$warwick-aubergine: #552D62;
$warwick-aubergine-secondary: #886C91;

$family-sans-serif: 'Muli', Helvetica, Roboto, Arial, sans-serif;
$family-monospace: 'Ubuntu Mono', Consolas, 'Liberation Mono', Courier, monospace;
$header-font-family: 'Montserrat', 'Muli', Helvetica, Roboto, Arial, sans-serif;

$family-secondary: $header-font-family;
$title-family: $header-font-family;

$menu-label-letter-spacing: normal;
$menu-label-font-size: 1.25em;

$radius-small: 2px;
$radius: 4px;
$radius-large: 6px;
$box-radius: 0;
$card-header-shadow: 0;