$light  : $white-ter;
$dark   : $grey-darker;

$text: $grey-darker;
$text-strong: $black-ter;
$text-light: $grey-darker;


$primary-scheme: $primary;
$secondary-scheme: $secondary;
$info-scheme: $info;
$success-scheme: $success;
$warning-scheme: $warning;
$danger-scheme: $danger;
$light-scheme: $light;

$link: $primary;

$custom-colors: ("secondary": $secondary, "muted": $grey, "primary-scheme": $primary-scheme, "secondary-scheme": $secondary-scheme,
        "info-scheme": $info-scheme, "success-scheme": $success-scheme, "warning-scheme": $warning-scheme,
        "danger-scheme": $danger-scheme, "light-scheme": $light);