$light  : $white-ter;
$dark   : $grey-darker;

$primary-scheme: darken($gray-base, 5%); //desaturate(darken($primary, 40%), 40%);
$secondary-scheme: darken($gray-base, 2%);
$info-scheme: $primary-scheme;
$success-scheme: darken($success, 30%);
$warning-scheme: darken($warning, 30%);
$danger-scheme: darken($danger, 30%);
$light-scheme: $grey-darker;

$primary-light-scheme: $primary-scheme;
$secondary-light-scheme: $secondary-scheme;
$info-light-scheme: $info-scheme;
$success-light-scheme: $success-scheme;
$warning-light-scheme: darken($warning-scheme, 10%);
$danger-light-scheme: darken($danger-scheme, 20%);
$cancelled-scheme: darken($gray-base, 5%);

$link: lighten(saturate($primary, 3%),5%);

$text: $white-bis;
$text-strong: $white;
$text-light: $white-ter;

// Some of the below should be moved or removed

$background: $black-ter;

$scheme-main: darken($gray-base, 10%);
$scheme-main-bis: darken($gray-base, 3%);
$scheme-main-ter: lighten($gray-base, 40%);
$scheme-invert: hsl(0, 0%, 100%);

$card-background-color: $alt-grey-base;
$shadow: 0 0.5em 1em -0.125em rgba($scheme-main, 0.1), 0 0px 0 1px rgba($scheme-main, 0.02);

$card-shadow: $shadow;

$event-shadow: $shadow;

$box-background-color: $scheme-main-bis;
$box-shadow: $shadow;

$link-hover: $grey-light;
$link-hover-border: $grey-dark;

$link-focus: $grey-lighter;
$link-focus-border: $blue;

$link-active: $grey-light;
$link-active-border: $grey;

$social-background: $primary;

$border: $grey-dark;
$border-hover: $grey-darker;
$border-light: $grey-dark;
$border-light-hover: $grey-darker;

// Some of the above should be moved or removed

$custom-colors: ("primary": $primary-dark, "secondary": $secondary-dark, "primary-scheme": $primary-scheme, "secondary-scheme": $secondary-scheme,
        "info-scheme": $info-scheme, "success-scheme": $success-scheme, "warning-scheme": $warning-scheme,
        "danger-scheme": $danger-scheme, "light-scheme": $light-scheme, "primary-light-scheme": $primary-light-scheme,
        "secondary-light-scheme": $secondary-light-scheme, "info-light-scheme": $info-light-scheme, "success-light-scheme": $success-light-scheme,
        "warning-light-scheme": $warning-light-scheme, "danger-light-scheme": $danger-light-scheme, "cancelled-scheme": $cancelled-scheme,
        "warwick-aubergine": $warwick-aubergine, "warwick-aubergine-secondary": $warwick-aubergine-secondary);