{% extends "new_base.html" %}
{% load wagtailcore_tags wagtailimages_tags base_tags event_tags static %}

{% block title %}UWCS | {{ self.title }} ({{ self.start|date:'Y-m-d' }}) {% endblock %}

{% block content %}
    {% breadcrumbs %}
    <section class="hero is-black has-background">
        {% if self.category.banner_image %}
            {% image self.category.banner_image original class="hero-background is-transparent" %}
        {% else %}
            <img class="hero-background is-transparent-less" original alt="Background" src="{% static "img/background.svg" %}">
        {% endif %}
        <div class="hero-body">
            <div class="container is-centered is-vcentered">
                <div class="columns is-centered is-vcentered">
                    <div class="column is-three-quarters">
                        <h2 class="title">{{ self.title }}</h2>
                        <p class="subtitle">{{ self.description }}</p>
                        {% if self.facebook_link %}
                            <a class="button is-5 is-dark-trans is-grouped" href="{{ self.facebook_link }}">
                                <span class="icon is-small"><i class="fab fa-facebook"></i></span>
                                <span class="">See event on Facebook</span>
                            </a>
                        {% endif %}
                        {% if self.discord_event_link %}
                            <a class="button is-5 is-dark-trans is-grouped" href="{{ self.discord_event_link }}">
                                <span class="icon is-small"><i class="fab fa-discord"></i></span>
                                <span class="">See event on Discord</span>
                            </a>
                        {% endif %}
                    </div>
                    <div class="column">
                        <div class="card mb-5">
                            <div class="card-content">
                                <p class="is-5 mb-2 is-size-5"><span class="icon mr-2"><i class="fas fa-clock"></i></span><strong>Time &amp; Date</strong></p>
                                <p>{{ self.start|date:'D jS F Y, H:i' }} - {{ self.finish|date:'D jS F Y, H:i' }}</p>
                                <br />
                                <p class="is-5 mb-2 is-size-5"><span class="icon mr-2"><i class="fas fa-map-marker-alt"></i></span><strong>Location</strong></p>
                                <p>{{ self.location }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section">
        <div class="container">
            <div class="columns">
                <article class="column">
                    {% if self.cancelled %}
                        <div class="notification is-warning">
                          <h4 class="title is-4">This event has been cancelled</h4>
                          <p class="subtitle">Sorry for any inconvenience caused</p>
                        </div>
                    {% endif %}
                    {% if self.is_ongoing %}
                        <div class="notification is-primary">
                            <h4 class="title is-4">This event is in progress</h4>
                        </div>
                    {% endif %}

                    <h3 class="title is-4">Description</h3>
                    <div class="content">{{ self.body }}</div>

                    {% if self.signup_type != self.SIGNUP_TYPES.NONE %}
                        <div class="card">
                            <div class="card-content">
                                {% if self.signup_tupe == 2 %}
                                    <div class="columns">
                                        <div class="column">
                                            <p class="subtitle my-0">Signups open</p>
                                            <p class="my-0">{{ self.signup_open|date:'D jS F Y, H:i' }} {% if self.signup_freshers_open %}
                                              (Freshers:
                                              {{ self.signup_freshers_open|date:'D jS F Y, H:i' }}{% endif %}</p>
                                        </div>
                                        <div class="column">
                                            <p class="subtitle my-0">Signups close</p>
                                            <p class="my-0">{{ self.signup_close|date:'D jS F Y, H:i' }}</p>
                                        </div>
                                    </div>
                                {% endif %}
                                <div class="columns">
                                    <div class="column">
                                        <p class="subtitle my-0">Total signups</p>
                                        <p class="my-0">
                                            {% if self.signup_limit == 0 %}
                                                This event has unlimited spaces
                                            {% else %}
                                                {% if self.signups.count < self.signup_limit %}
                                                    This event has {{ self.signup_limit|subtract:self.signups.count }} places remaining ({{ self.signups.count }}/{{ self.signup_limit }})
                                                {% else %}
                                                    There are no more spaces left for this event ({{ self.signups.count }}/{{ self.signup_limit }})
                                                {% endif %}
                                            {% endif %}
                                        </p>
                                    </div>
                                    <div class="column">
                                        {% if self.signup_type == 2 %}
                                            <p>
                                                <a href="{{ self.signup_url }}" class="button is-primary-scheme">
                                                    <span class="icon is-small">
                                                        <i class="fas fa-ticket-alt" aria-hidden="true"></i>
                                                    </span>
                                                    <span>
                                                        Signup here
                                                    </span>
                                                </a>
                                            </p>
                                        {% endif %}
                                        {% if user_signed_up and not self.cancelled %}
                                            <p>
                                                <a href="{% url 'event_unsignup' event_id=self.page_ptr_id %}" class="button is-warning-scheme">
                                                    <span class="icon is-small">
                                                        <i class="fa fa-trash" aria-hidden="true"></i>
                                                    </span>
                                                    <span>
                                                        Un-signup
                                                    </span>
                                                </a>
                                            </p>
                                        {% endif %}
                                        {% if request.user.is_authenticated   %}
                                            {% if not user_signed_up and not self.cancelled and can_signup %}
                                                <p>You aren't signed up for this event. Press sign up below, optionally leaving a comment</p>
                                                <form action="{% url 'event_signup' event_id=self.page_ptr_id %}" method="post">
                                                    {% csrf_token %}
                                                    <div class="field has-addons">
                                                        <div class="control is-expanded">
                                                            <input id="id_comment" class="input" name="comment" type="text" maxlength="1024" placeholder="Comment (Optional)">
                                                        </div>
                                                        <div class="control">
                                                            <input type="submit" class="button is-primary float-right" value="Signup">
                                                        </div>
                                                    </div>
                                                </form>
                                            {% endif %}
                                        {% elif not self.cancelled or self.signup_type != 2 %}
                                            <p>
                                                <a href="/accounts/login" class="button is-primary">
                                                    <span class="icon is-small">
                                                        <i class="fa fa-key" aria-hidden="true"></i>
                                                    </span>
                                                    <span>
                                                        Sign up (requires login)
                                                    </span>
                                                </a>
                                            </p>
                                          {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% if request.user.is_authenticated %}
                        <hr />
                        <div class="container">
                            {% if can_signup or self.signups %}
                                <h4 class="title is-4">Signup comments</h4>
                            {% endif %}
                            {% if self.signups %}
                                <table class="table is-striped is-fullwidth is-hoverable">
                                    <tbody>
                                        {% for comment in self.signups %}
                                            {% if comment.comment %}
                                            <tr>
                                                <td class="user">
                                                    <p class="subtitle has-text-primary">
                                                        {% if comment.member.compsocuser %}
                                                            {% with comment.member.compsocuser as user %}
                                                                {% if user.nickname %}
                                                                    <span data-tooltip aria-haspopup="true" class="has-tip" data-disable-hover="false" tabindex="1" title="{{ user.full_name }}">{{ user }}</span>
                                                                {% else %}
                                                                    {{ user }}
                                                                {% endif %}
                                                            {% endwith %}
                                                        {% else %}
                                                            {{ comment.member.get_full_name }}
                                                        {% endif %}
                                                    </p>
                                                    <p><i><span class="date is-size-7">{{ comment.signup_created|date:'D jS F Y, H:i' }}</span></i></p>
                                                    <p class="subtitle">{{ comment.comment }}</p>
                                                </td>
                                            </tr>
                                            {% endif %}
                                        {% endfor %}
                                    </tbody>
                                </table>
                            {% else %}
                                {% if can_signup %}
                                    <p>There are no sign ups for this event yet, why not be the first?</p>
                                {% else %}
                                    <p>There are no sign ups for this event</p>
                                {% endif %}
                            {% endif %}
                        </div>

                        {% if self.signups and request.user.is_staff %}
                            <hr />
                            <div class="container">
                                <h4 class="title is-4">
                                    View all signups
                                </h4>
                                <table class="table is-striped is-fullwidth is-hoverable">
                                    <thead>
                                        <tr>
                                            <td><b>Name</b></td>
                                            <td><b>Email</b></td>
                                            <td><b>Discord</b></td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for signup in self.signups %}
                                            <tr>
                                                <td class="user">
                                                    <a href="{% url 'public_profile' uid=signup.member.id %}" class="subtitle has-text-primary">
                                                        {% if signup.member.compsocuser.first_name %}
                                                            {{ signup.member.compsocuser.full_name }}
                                                        {% else %}
                                                            {{ signup.member.get_full_name }}
                                                        {% endif %}
                                                    </a>
                                                </td>
                                                <td>
                                                    {{ signup.member.email }}
                                                </td>
                                                <td>
                                                    {{ signup.member.compsocuser.discord_user }}
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        {% endif %}
                        {% endif %}
                    {% endif %}
                </article>
                <aside class="column is-one-third-tablet is-one-quarter-desktop is-one-fifth-fullhd">
                    {% sidebar display_first=True %}
                    {% sponsor_sidebar %}
                </aside>
            </div>
        </div>
    </section>
{% endblock content %}