{% extends 'new_base.html' %}

{% load wagtailcore_tags %}

{% block title %}UWCS | Signed up for {{ event.title }} {% endblock %}

{% block content %}
    <section class="hero is-primary-scheme">
        <div class="hero-body">
            <div class="container is-centered is-vcentered">
                <h2 class="title">You've already signed up</h2>
                <p class="subtitle">You're already signed up to {{ event.title }} on {{ event.start|date:'D jS F Y, H:i' }} at the {{ event.location }}</p>
                <p><a href="{% pageurl event %}" class="button">Back to the event</a></p>
            </div>
        </div>
    </section>
{% endblock %}