{% extends 'new_base.html' %}

{% load wagtailcore_tags %}

{% block title %}UWCS | Un-signed up for {{ event.title }} {% endblock %}

{% block content %}
    <section class="hero is-primary-scheme">
        <div class="hero-body">
            <div class="container is-centered is-vcentered">
                <h2 class="title">Un-sign up successful</h2>
                <p class="subtitle">You're no longer signed up to {{ event.title }} on {{ event.start|date:'D jS F Y, H:i' }}, though we do hope you'll attend more events in the future</p>
                <p><a href="{% pageurl event %}" class="button">Back to the event</a></p>
            </div>
        </div>
    </section>
{% endblock %}