{% load base_tags blog_tags wagtailcore_tags event_tags %}

{% if archives or children %}
<aside class="box is-shadowless">
<div class="menu">
    {% if archives %}
            <p class="menu-label">Archives</p>
            <ul class="menu-list" data-accordion-menu>
                {% for year, months in archives.items %}
                    {% if forloop.counter0 < archive_count %}
                        <li>
                            <a onclick="$('#archive-{{ year }}').slideToggle(200);">{{ year }}</a>
                            <ul id="archive-{{ year }}" {% if year != archive_year %}style="display: none;"{% endif %}>
                                {% for month, posts in months.items %}
                                    <li>
                                        <a href="{% pageurl archive_index %}?date={{ year }}-{{ month|stringformat:'02d' }}"
                                           {% if filter_date.year == year and filter_date.month == month %}class="is-active"{% endif %}>
                                            {{ month|to_month_str }} ({{ posts|length }})
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
    {% endif %}
    {% if children %}
            <p class="menu-label">Useful links</p>
            <ul class="menu-list">
                {% for child in children %}
                    <li>
                        <a href="{% pageurl child %}">{{ child.title }}</a>
                    </li>
                {% endfor %}
            </ul>
    {% endif %}
</div>
</aside>
{% endif %}