{% load wagtailcore_tags wagtailimages_tags %}


<div class="card mb-2">
    <div class="card-content">
        <a class="title is-4" href="{% pageurl blog %}"><h3>{{ blog.title }}</h3></a>
        <small class="mb-3 has-text-muted">Posted on {{ blog.date|date:'jS F Y' }}</small>
        <div class="content">{{ blog.intro | richtext }}</div>
    </div>
    <div class="card-footer"><a class="card-footer-item" href="{% pageurl blog %}">Read more&nbsp;<i class="fas fa-chevron-right"></i></a></div>
</div>
