{% load base_tags wagtailcore_tags %}
{% if blogs.has_other_pages %}
    <nav class="pagination" role="navigation" aria-label="pagination">
        {% if blogs.has_previous %}
            <a class="pagination-previous" href="?{% url_replace "page" blogs.previous_page_number %}"
               aria-label="Previous page">Previous</a>
        {% else %}
            <a class="pagination-previous" href="#" disabled>Previous</a>
        {% endif %}
        {% if blogs.has_next %}
            <a class="pagination-next" href="?{% url_replace "page" blogs.next_page_number %}"
               aria-label="Next page">Next</a>
        {% else %}
            <a class="pagination-next" href="#" disabled>Next</a>
        {% endif %}
        <ul class="pagination-list">

            {% for i in blogs.short_page_range %}
                {% if i == 0 %}
                    <li><span class="pagination-ellipsis">&hellip;</span></li>
                {% else %}
                    {% if i == blogs.number %}
                        <li><a class="pagination-link is-current" href="?{% url_replace "page" i %}">{{ i }}</a></li>
                    {% else %}
                        <li><a class="pagination-link" href="?{% url_replace "page" i %}">{{ i }}</a></li>
                    {% endif %}
                {% endif %}
            {% endfor %}

        </ul>
        <p class="is-sr-only">You're on page {{ blogs.number }} of {{ paginator.num_pages }}</p>
    </nav>
{% endif %}