{% extends "oauth2_provider/custom_base.html" %}

{% block template_name %}oauth_authorise{% endblock %}

{% block title %}UWCS | Authorise {{ application.name }}?{% endblock %}

{% block content %}
    <section class="section mt-2 mb-1">
        <div class="container">
            <div class="is-12-mobile is-8-tablet is-4-desktop is-centered">
                <div class="is-centered">
                    <div class="columns is-centered is-vcentered my-4 is-mobile">
                        <div class="column is-one-fifth">
                            <svg style="margin-top: 16px;" width="102" height="135" viewBox="0 0 144 191"
                                 xmlns="http://www.w3.org/2000/svg">
                                <g transform="rotate(45 46.337 82.743)">
                                    <ellipse fill="#FDD835" cx="25.961" cy="86.515" rx="25" ry="24.82"/>
                                    <ellipse fill="#3D5AFE" cx="88" cy="88.82" rx="25" ry="24.82"/>
                                    <ellipse fill="#3D5AFE" cx="150.039" cy="88.82" rx="25" ry="24.82"/>
                                    <ellipse fill="#FDD835" cx="26" cy="24.82" rx="25" ry="24.82"/>
                                </g>
                            </svg>
                        </div>
                        <div class="column is-four-fifths">
                            <h1 class="title is-1">UWCS</h1>
                            {% if not error %}
                                <form id="authorizationForm" method="post">
                                    <h3 class="subtitle is-4">Authorise {{ application.name }}?</h3>
                                    {% csrf_token %}

                                    {% for field in form %}
                                        {% if field.is_hidden %}
                                            {{ field }}
                                        {% endif %}
                                    {% endfor %}

                                    <p>The application requires the following permissions:</p>
                                    <ul>
                                        {% for scope in scopes_descriptions %}
                                            <li>{{ scope }}</li>
                                        {% endfor %}
                                    </ul>

                                    {{ form.errors }}
                                    {{ form.non_field_errors }}

                                    <div class="field is-grouped">
                                        <div class="control">
                                            <input type="submit" class="button float-right ml-1" name="allow"
                                                   value="Authorise"/>
                                        </div>
                                        <div class="control">
                                            <input type="submit" class="button is-secondary float-right"
                                                   value="Cancel"/>
                                        </div>
                                    </div>
                                </form>
                            {% else %}
                                <h2 class="subtitle is-4">Error: {{ error.error }}</h2>
                                <p class="text">{{ error.description }}</p>
                            {% endif %}
                        </div>
                    </div>

                </div>
            </div>

        </div>

    </section>
{% endblock %}