{% load base_tags blog_tags taggit_templatetags2_tags wagtailcore_tags %}

{% get_taglist as tags for 'blog.BlogPage' %}

<aside class="box">
<div class="menu">
    {% if tags and show_tags %}
            <p class="menu-label">News categories</p>
            <ul class="menu-list">
                {% for tag in tags %}
                    <li>
                        <a href="{% pageurl blog_index %}?tag={{ tag|urlencode }}">{{ tag }}</a>
                    </li>
                {% endfor %}
            </ul>
    {% endif %}
    {% if archives %}
            <p class="menu-label">Archives</p>
            <ul class="menu-list" data-accordion-menu>
                {% for year, months in archives.items %}
                    {% if forloop.counter0 < archive_count %}
                        <li>
                            <a href="#">{{ year }}</a>
                            <ul>
                                {% for month, posts in months.items %}
                                    <li><a
                                            href="{% pageurl blog_index %}?date={{ year }}-{{ month|stringformat:'02d' }}">{{ month|to_month_str }}
                                        ({{ posts|length }})</a></li>
                                {% endfor %}
                            </ul>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
    {% endif %}
    {% if children %}
            <p class="menu-label">Useful links</p>
            <ul class="menu-list">
                {% for child in children %}
                    <li>
                        <a href="{% pageurl child %}">{{ child.title }}</a>
                    </li>
                {% endfor %}
            </ul>
    {% endif %}
</div>
</aside>