{% load wagtailcore_tags blog_tags %}

{% if blogs %}
    <div class="container">
        <p class="title is-4 has-text-centered">
            Recent News
        </p>
        <div class="columns is-reversed">
            <div class="column is-one-fifth-desktop is-one-quarter-tablet sticky">
                {% blog_sidebar show_tags=True %}
            </div>
            <div class="column">
                {% for blog in blogs %}
                    {% include "blog/includes/blog_list_item.html" %}
                {% endfor %}
                <div class="level">
                    <a href="{% pageurl blog_index %}" class="level-item">
                        <div class="button is-fullwidth is-primary-scheme has-text-centered">
                            <p class="subtitle">
                                Older News <i class="fas fa-chevron-right" aria-hidden="true"></i>
                            </p>
                        </div>
                    </a>
                </div>
            </div>

        </div>


    </div>
{% endif %}