{% load wagtailcore_tags %}
{% spaceless %}
    {% if events %}
        <div class="container">
            <h4 class="title is-4 has-text-centered">
                Upcoming events
            </h4>

            <div class="tile is-ancestor">
                {% for event in events %}
                    <div class="tile is-parent">
                        <a href="{% pageurl event %}">
                            <div class="tile is-child is-primary-scheme">
                                <h5 class="title is-5">{{ event.title }}</h5>
                                <p><i class="icon fas fa-clock"></i>{{ event.start|date:'H:m, D jS F Y' }}</p>
                                <p><i class="icon fas fa-map-marker-alt"></i>{{ event.location }}</p>
                                <p>{{ event.description }}</p>
                            </div>
                        </a>
                    </div>
                {% endfor %}
                <div class="tile is-parent">
                    <a href="{% pageurl event_list %}">
                        <div class="tile is-child is-primary-scheme has-text-centered">
                            <p class="subtitle">
                                See all events <i class="fas fa-chevron-right" aria-hidden="true"></i>
                            </p>
                        </div>
                    </a>
                </div>
            </div>

        </div>
    {% endif %}
{% endspaceless %}
