<div class="columns is-mobile is-multiline has-text-white">
    {% for social in socials %}
        <figure class="column">
            <a href="{{ social.url }}" class="social-circle has-text-white">
                <i class="{{ social.icon }}" aria-hidden="true">
                    <span class="is-sr-only">{{ social.name }}</span>
                </i>
            </a>
            <p class="has-text-white has-text-centered social-text">{{ social.name }}</p>
        </figure>
    {% endfor %}
</div>

