{% extends 'new_base.html' %}

{% block title %}UWCS | Your profile {% endblock %}

{% block content %}
    <section class="section">
        <div class="container">
            <div class="columns">
                <div class="column">
                    <h1 class="title has-2">Your account</h1>
                    <p class="margin-top-1x-mobile">You joined on {{ request.user.date_joined|date:'jS M Y' }}. Most recent log in is on {{ request.user.last_login|date:'jS M Y, H:i' }}</p>
                </div>
            </div>
            <div class="columns">
                <div class="column">
                    <div class="card">
                        <div class="card-header pt-3 px-1">
                            <h5 class="card-header-title title is-4">User information</h5>
                        </div>
                        <div class="card-content">
                            <div class="tile notification is-primary-light-scheme">
                                <div class="content">
                                    <p class="subtitle is-5">Full name (from Warwick SU):</p>
                                    <p>{{ user.get_full_name|default:user.username }}</p>
                                </div>

                            </div>
                            <div class="columns is-multiline">
                                {% if request.user.compsocuser %}
                                    {% with request.user.compsocuser as user %}
                                      {% if user.first_name %}
                                          <div class="column is-half ">
                                              <div class="tile notification is-primary-light-scheme">
                                                  <div class="content">
                                                      <p class="subtitle is-5">Preferred name:</p>
                                                    <p>{{ user.full_name }}</p>
                                                  </div>
                                              </div>
                                          </div>
                                      {% endif %}

                                      {% if user.nickname %}
                                          <div class="column is-half ">
                                              <div class="tile notification is-primary-light-scheme">
                                                  <div class="content">
                                                      <p class="subtitle is-5">Nickname:</p>
                                                    <p>{{ user.nickname }}</p>
                                                  </div>
                                              </div>
                                          </div>
                                      {% endif %}

                                      {% if user.discord_user %}
                                          <div class="column is-half ">
                                              <div class="tile notification is-primary-light-scheme">
                                                  <div class="content">
                                                      <p class="subtitle is-5">Discord tag:</p>
                                                      <p>{{ user.discord_user }}</p>
                                                  </div>
                                              </div>
                                          </div>
                                      {% endif %}

                                      {% if user.website_url %}
                                          <div class="column is-half ">
                                              <div class="tile notification is-primary-light-scheme">
                                                <div class="content">
                                                    <p class="subtitle is-5">Website:</p>
                                                    <a href="{{ user.abs_website_url }}">
                                                        {% if user.website_title %}{{ user.website_title }}{% else %}{{ user.abs_website_url }}{% endif %}
                                                    </a>
                                                </div>
                                              </div>
                                          </div>
                                      {% endif %}
                                    {% endwith %}
                                  {% else %}
                                    <div class="column is-half ">
                                        <div class="tile notification is-warning-light-scheme">
                                            <p>You have not provided any additional user information</p>
                                        </div>
                                    </div>
                                  {% endif %}
                            </div>
                                <div class="tile is-ancestor">
                                    <div class="tile is-parent">
                                        <div class="tile is-child notification is-secondary-light-scheme">
                                            <div class="content">
                                                <p class="subtitle is-5">Shell account</p>
                                                {% if request.user.shellaccount %}
                                                    {% if request.user.shellaccount.status == 'RE' %}
                                                        <p>You have requested a shell account. Its login details will be emailed to you shortly</p>
                                                    {% elif request.user.shellaccount.status == 'DD' %}
                                                        <p>Your shell account has been disabled. Please contact <a href="mailto:tech@uwcs.co.uk">the technical officer</a> for assistance</p>
                                                    {% else %}
                                                        <p>Your shell account is active for the username '{{ request.user.shellaccount.name }}'</p>
                                                    {% endif %}
                                                {% else %}
                                                    <p>You currently have no requests for a shell account</p>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tile is-parent">
                                        <div class="tile is-child notification is-secondary-light-scheme">
                                            <div class="content">
                                                <p class="subtitle is-5">Database account</p>
                                                {% if request.user.databaseaccount %}
                                                    {% if request.user.databaseaccount.status == 'RE' %}
                                                        <p>You have requested a database account. Its login details will be emailed to you shortly</p>
                                                    {% elif request.user.databaseaccount.status == 'DD' %}
                                                        <p>Your database account has been disabled. Please contact <a href="mailto:tech@uwcs.co.uk">the technical officer</a> for assistance</p>
                                                    {% else %}
                                                        <p>Your database account is active for the username '{{ request.user.database.name }}'</p>
                                                    {% endif %}
                                                {% else %}
                                                    <p>You currently have no requests for a database account</p>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="column is-one-third-tablet is-one-quarter-desktop is-one-fifth-fullhd" >
                    <div class="card is-shadowless">
                        <div class="card-header pt-3 px-1">
                            <h5 class="card-header-title title is-5">Account actions</h5>
                        </div>
                        <div class="card-content columns is-mobile is-multiline is-centered is-vcentered">
                            <div class="column is-narrow-mobile is-full-tablet">
                                    <a href="{% url 'profile_update' %}">Account settings</a> <br />
                                    <a href="{% url 'password_change' %}">Change your password</a> <br />
                                    {% if not request.user.shellaccount %}
                                      <a href="{% url 'request_shell' %}">Request shell account</a> <br />
                                    {% endif %}
                                    {% if not request.user.databaseaccount %}
                                      <a href="{% url 'request_database' %}">Request database account</a>
                                    {% endif %}
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}