{% extends 'new_base.html' %}
{% load widget_tweaks %}

{% block title %}UWCS | Account settings {% endblock %}

{% block content %}
    <section class="section">
        <div class="container">
            <h1 class="title has-2">Change account settings</h1>
            <div class="card">
                <div class="card-content">
                    <form method="post">
                        {% csrf_token %}
                        {% include "lib/includes/form_errors.html" with form=form %}
                        <div class="columns">
                            <div class="column">
                                {% include "lib/includes/form_field.html" with iconleft="fas fa-user" size="is-medium" field=form.first_name label="First name" %}
                                <p class="help">Setting your first name (and last name) will change your public preferred name, visible on event signups</p>
                            </div>
                            <div class="column">
                                {% include "lib/includes/form_field.html" with iconleft="fas fa-user" size="is-medium" field=form.last_name label="Last name" %}
                            </div>
                        </div>
                        <div class="columns">
                            <div class="column">
                                {% include "lib/includes/form_field.html" with iconleft="fas fa-user-tag" size="is-medium" field=form.nickname label="Nickname" %}
                            </div>
                            <div class="column">
                                {% include "lib/includes/form_field.html" with iconleft="fab fa-discord" size="is-medium" field=form.discord_user label="Discord user" %}
                                <p class="help">This is your name <strong>and</strong> number, for example: Foobar#1337</p>
                            </div>
                        </div>
                        <div class="columns">
                            <div class="column">
                                {% include "lib/includes/form_field.html" with iconleft="fas fa-signature" size="is-medium" field=form.website_title label="Website title" %}
                            </div>
                            <div class="column">
                                {% include "lib/includes/form_field.html" with iconleft="fas fa-globe" size="is-medium" field=form.website_url label="Website url" %}
                            </div>
                        </div>
                        <div class="columns">
                            <div class="column">
                                {% include "lib/includes/form_field.html" with iconleft="fas fa-moon" size="is-medium" field=form.nightmode_on label="Night mode" %}
                                <div class="field">
                                    <label class="label is-medium" for="id_nightmode_on">Night mode</label>
                                    <div class="control">
                                        <label class="checkbox">
                                            <input type="checkbox" name="nightmode_on" id="id_nightmode_on">
                                            Night mode on
                                        </label>
                                        <p class="help">Enable night mode whenever you are logged into UWCS - overrides the nightmode switch in the footer</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <input type="hidden" name="next" value="{{ next }}"/>
                        <div class="control">
                            <input type="submit" class="button is-primary" value="Update settings">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
