{% extends 'new_base.html' %}
{% load widget_tweaks %}

{% block title %}UWCS | Request shell account {% endblock %}

{% block content %}
    <section class="section">
        <div class="container">
            <h3 class="title is-2">Request shell account</h3>
            <form method="post">
                <p>Enter the desired shell account username in the field below using lowercase alphanumerics</p>
                {% csrf_token %}

                {% include "lib/includes/form_errors.html" with form=form %}

                {% include "lib/includes/form_field.html" with iconleft="fas fa-user" size="is-medium" field=form.name label="Username" %}

                <input type="hidden" name="next" value="{{ next }}"/>
                <div class="control">
                    <input type="submit" class="button is-primary is-medium is-fullwidth" value="Log in">
                </div>
            </form>
        </div>
    </section>
{% endblock %}