{% extends "new_base.html" %}

{% load wagtailcore_tags blog_tags base_tags %}

{% block title_prefix %}UWCS | {% endblock %}

{% block content %}
    {% if self.is_child %}
        {% breadcrumbs %}
    {% endif %}

    <section class="section">
        <div class="container">
            <div class="columns">
                <div class="column">
                    <h1 class="title has-2">{{ self.full_title }}</h1>
                    {% include 'blog/includes/streamfield.html' with content=body %}
                </div>
                <div class="column is-one-third-tablet is-one-quarter-desktop is-one-fifth-fullhd">
                    {% blog_sidebar show_children=True parent=self %}
                    {% sponsor_sidebar %}
                </div>
            </div>
        </div>
    </section>
{% endblock content %}