{% extends "new_base.html" %}

{% load wagtailcore_tags base_tags blog_tags %}

{% block title %}UWCS | News (page {{ blogs.number }}){% endblock %}

{% block content %}
    <section class="section">
        <div class="container">

            <div class="columns">
                <div class="column">
                    <h1 class="title is-2">{{ self.title }}</h1>
                    {% search_filters %}

                    {% for blog in blogs.object_list %}
                        {% include "blog/includes/blog_list_item.html" %}
                    {% empty %}
                        <p>No news item can be found</p>
                    {% endfor %}

                    {% if blogs %}
                        {% include "blog/includes/pagination.html" %}
                    {% endif %}
                </div>
                <div class="column is-one-quarter-tablet is-one-fifth">
                    {% blog_sidebar show_tags=True show_archives=True %}
                    {% sponsor_sidebar %}
                </div>
            </div>
        </div>
    </section>
{% endblock content %}