{% extends "new_base.html" %}

{% load wagtailcore_tags base_tags blog_tags %}

{% block title_prefix %}UWCS | {% endblock %}

{% block content %}
    {% breadcrumbs %}
    <section class="section">
        <div class="container">
            <div class="columns">
                <div class="column">
                    <article>

                        <h1 class="title has-2 mb-2">{{ self.title }}</h1>
                        {% if self.tags %}
                            <div class="tags mb-0">
                                {% for tag in self.tags.all %}
                                    <a href="{% pageurl self.blog_index %}?tag={{ tag|urlencode }}"
                                       class="tag is-primary-scheme">{{ tag|title }}</a>
                                {% endfor %}
                            </div>
                        {% endif %}
                        <p class="subtitle has-6 has-text-muted">Posted on {{ self.date|date:'jS F Y' }}</p>

                        {% include 'blog/includes/streamfield.html' with content=body %}
                    </article>
                </div>
                <div class="column is-one-third-tablet is-one-quarter-desktop is-one-fifth-fullhd">
                    {% blog_sidebar %}
                    {% sponsor_sidebar %}
                </div>
            </div>
        </div>
    </section>
{% endblock content %}