{% extends "new_base.html" %}
{% load static %}
{% load wagtailcore_tags wagtailimages_tags blog_tags base_tags %}
{% get_site_root as site_root %}

{% block content %}
    <div class="head_block">
        <section class="hero head_inner">
            <div class="container">
                <div class="columns is-centered is-vcentered my-4 is-mobile">
                    <div class="column is-one-fifth is-hidden-mobile">
                        <figure class="image is-square">
                            <img alt="University of Warwick Computing Society logo" src="{% static "logo.svg" %}">
                        </figure>
                    </div>
                    <div class="column is-four-fifths">
                        <h1 class="title has-text-white">{{ site_root.title }}</h1>
                    </div>
                </div>
            </div>
        </section>
    </div>
    {% if page.alert %}
        {% if page.alert_link %}<a href="{{ page.alert_link }}">{% endif %}
    <section class="hero is-secondary-scheme is-small">
        <div class="hero-body my-2">
            <div class="container">
                <div class="subtitle is-centred has-text-centered content">
                    {{ page.alert|inlinerichtext }}
                    {% if page.alert_link %}<i class="fas fa-chevron-right"></i>{% endif %}
                </div>
            </div>
        </div>
    </section>
    {% if page.alert_link %}</a>{% endif %}
    {% endif %}
    <section class="section">
        <div class="container">
            {% include 'blog/includes/streamfield.html' with content=page.description %}
        </div>
    </section>
    <section class="hero is-primary-scheme">
        <div class="hero-body">
            <div class="container">
                <h2 class="title is-4 has-text-centered">Keep up to date with what we're doing!</h2>
                {% social_bubbles %}
            </div>
        </div>
    </section>
    <section class="section">
        {% sponsor_homepage %}
    </section>
    <section class="section">
        {% event_listing_homepage %}
    </section>
    <section>
        {% blog_listing_homepage %}
    </section>
{% endblock %}