{% extends "new_base.html" %}

{% block title %}UWCS | Error 404{% endblock %}

{% block content %}
    <section class="hero is-primary-scheme is-medium">
        <div class="hero-body my-2">
            <div class="container">
                <h1 class="title is-centred has-text-centered content">
                    404
                </h1>
                <p class="is-centred has-text-centered content">
                    Permission denied <br />
                    If you think you should have permission, please contact the Tech Officer via the details on our contact page.
                </p>
            </div>
        </div>
    </section>
{% endblock %}

