{% extends "new_base.html" %}

{% block title %}UWCS | Error 403{% endblock %}

{% block content %}
    <section class="hero is-primary-scheme is-medium">
        <div class="hero-body my-2">
            <div class="container">
                <h1 class="title is-centred has-text-centered content">
                    403
                </h1>
                <p class="subtitle is-centered has-text-centered content">
                    Permission denied
                </p>
                <p class="is-centred has-text-centered content">
                    If you think you should have permission, please contact the Tech Officer via email: <a href="mailto:techteam@uwcs.co.uk">techteam@uwcs.co.uk</a> .
                </p>
            </div>
        </div>
    </section>
{% endblock %}

