{% extends 'new_base.html' %}

{% block title %}UWCS | Password reset complete{% endblock %}

{% block content %}
    <section class="hero is-primary">
        <div class="hero-body">
            <div class="container">
                <h2 class="title is-1 has-text-centered">Password reset successful</h2>
                <p class="has-text-centered">Your password was changed successfully.</p>
                <p class="has-text-centered">
                    Your password has been set. You may go ahead and
                    <a class="has-text-white" href="{% url 'profile' %}">log in now.</a>
                </p>
            </div>
        </div>
    </section>
{% endblock %}