{% extends 'new_base.html' %}

{% block title %}UWCS | Password reset sent{% endblock %}

{% block content %}
    <section class="hero is-primary">
        <div class="hero-body">
            <div class="container">
                <h2 class="title is-1 has-text-centered">Email sent</h2>
                <p class="has-text-centered">
                    We've emailed you instructions for setting your password, if an account exists with the email
                    you entered. You should receive them shortly.
                </p>
                <p class="has-text-centered">
                    If you don't receive an email, please make sure you've entered the address you registered with,
                    and check your spam folder.
                </p>
            </div>
        </div>
    </section>
{% endblock %}