{% extends 'new_base.html' %}

{% block title %}UWCS | Enter new password{% endblock %}

{% block content %}
    {% if validlink %}
        <section class="section">
            <div class="container">
                <h3 class="title is-2">Reset Password</h3>
                <form method="post">
                    {% csrf_token %}

                    {% include "lib/includes/form_errors.html" with form=form %}

                    <p class="mb-4">
                        Please enter your new password twice so we can verify you typed it in correctly.
                    </p>

                    {% include "lib/includes/form_field.html" with iconleft="fas fa-key" field=form.new_password1 %}
                    {% include "lib/includes/form_field.html" with iconleft="fas fa-key" field=form.new_password2 %}

                    <div class="control">
                        <input type="submit" class="button is-primary is-normal is-fullwidth"
                               value="Reset my password">
                    </div>
                </form>
            </div>
        </section>
    {% else %}
        <section class="hero is-primary">
            <div class="hero-body">
                <div class="container">
                    <h2 class="title is-1 has-text-centered">Invalid reset link</h2>
                    <p class="has-text-centered">
                        The password reset link was invalid, possibly because it has already been used.
                        Please request a new password reset.
                    </p>
                </div>
            </div>
        </section>
    {% endif %}
{% endblock %}