{% extends 'new_base.html' %}

{% block title %}UWCS | Password reset{% endblock %}

{% block content %}
    <section class="section">
        <div class="container">
            <h3 class="title is-2">Password reset</h3>
            <form method="post">
                {% csrf_token %}

                {% include "lib/includes/form_errors.html" with form=form %}

                <p class="mb-4">Enter your email address below, and we'll email instructions for setting a new one.</p>

                {% include "lib/includes/form_field.html" with iconleft="fas fa-envelope" field=form.email %}

                <div class="control">
                    <input type="submit" class="button is-primary is-normal is-fullwidth" value="Request reset">
                </div>
            </form>
        </div>
    </section>
{% endblock %}