{% extends 'new_base.html' %}

{% block title %}UWCS | Password change{% endblock %}

{% block content %}
    <section class="section">
        <div class="container">
            <h3 class="title is-2">Password change</h3>
            <form method="post">
                {% csrf_token %}

                {% include "lib/includes/form_errors.html" with form=form %}

                <p class="mb-4">Please enter your old password, for security's sake, and then enter your new password twice so we can
                    verify you typed it in correctly.</p>

                {% include "lib/includes/form_field.html" with iconleft="fas fa-lock" field=form.old_password %}
                {% include "lib/includes/form_field.html" with iconleft="fas fa-key" field=form.new_password1 %}
                {% include "lib/includes/form_field.html" with iconleft="fas fa-key" field=form.new_password2 %}

                <div class="control">
                    <input type="submit" class="button is-primary is-normal is-fullwidth" value="Change my password">
                </div>
            </form>
        </div>
    </section>
{% endblock %}